.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.message-list {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.message-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.message-item.human {
  background-color: var(--ion-color-primary-light);
  justify-content: flex-end;
}

.message-item.bot {
  background-color: var(--ion-color-light);
}

ion-icon {
  font-size: 24px;
  margin-right: 10px;
}

.message-content {
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--ion-color-secondary);
  color: white;
}

.message-item.human .message-content {
  background-color: var(--ion-color-primary);
}

ion-spinner {
  display: block;
  margin: 20px auto;
}

.footer-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
}

.record-button, .send-button {
  --padding-start: 0;
  --padding-end: 0;
  --border-radius: 50%; /* Botón redondo */
  --background: transparent; /* Fondo transparente para botones */
}

.record-button ion-icon{
  font-size: 24px; /* Tamaño del icono */
}

.send-button {
  margin-left: 4px; /* Espacio entre el botón de grabación y el botón de envío */
}

.send-icon {
  font-size: 18px; /* Tamaño del icono de envío */
}

/* Estilos para el header */
.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header-title ion-select {
  max-width: 300px; /* Ajusta el ancho máximo según tus necesidades */
  width: 100%;
  --placeholder-color: var(--ion-color-medium);
}

.message-list {
  padding: 16px;
}

.message-item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.message-item .message-content {
  margin-left: 8px;
  padding: 8px;
  border-radius: 4px;
}

.message-item.human .message-content {
  background-color: #e1ffc7;
  color: #000;
}

.message-item.bot .message-content {
  background-color: #d1e7ff;
  color: #000;
}

.record-button {
  margin-right: 8px;
}

.send-button {
  margin-left: auto;
}

.send-icon {
  color: var(--ion-color-primary);
}



