.content-container {
    padding: 20px;
  }
  
  .input-item {
    margin-bottom: 20px;
  }
  
  .submit-button {
    margin-top: 20px;
  }
  
  .custom-card {
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-card-header {
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
  }
  
  .custom-card-content {
    padding: 10px;
  }
  
  .custom-label {
    font-size: 18px; /* Ajusta el tamaño de la fuente según sea necesario */
  }
  
  .custom-row {
    margin-bottom: 10px; /* Agrega un espacio entre cada fila */
  }
  